/* Import Montserrat font with various weights from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Global reset and font declaration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #aab5c125;
  width: 100%;
  height: 100dvh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  max-width: 90%;
  background-color: #7ee5b71f;
  padding: 30px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.) 0px 4px 12px;
  box-shadow: 0 10px 30px rgba(115, 115, 114, 0.8);
}

.container-visible {
  display: none;
}

.title-section {
  margin-bottom: 30px;
}

.title {
  color: #38475a;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.paragraph {
  color: #38475a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.input-group {
  position: relative;
}

.input-group .label-title {
  color: #38475a;
  text-transform: capitalize;
  margin-bottom: 11px;
  font-size: 14px;
  display: block;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  color: #38475a;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #eaecf0;
  padding: 9px 18px 9px 52px;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}

.input-group input::placeholder {
  color: #38475a;
  font-size: 16px;
  font-weight: 400;
}

.input-group .icon {
  position: absolute;
  color: #38475a;
  left: 13px;
  top: calc(50% - 11px);
  font-size: 23px;
}

.submit-btn {
  width: 100%;
  background-color: #045b48;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  color: #fff;
  padding: 13px 24px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.6;
}

.popup {
  width: 400px;
  max-width: 95%;
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  -moz-transform: translate(-50%, -50%) scale(0.1);
  -ms-transform: translate(-50%, -50%) scale(0.1);
  -o-transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  -webkit-transition: transform 0.4s, top 0.4s;
  -moz-transition: transform 0.4s, top 0.4s;
  -ms-transition: transform 0.4s, top 0.4s;
  -o-transition: transform 0.4s, top 0.4s;
}

.open-popup {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}